// 270px is the width of the sidebar + gap
@mixin adjustableBreakpoint($original, $adjustment: 270px) {
  @if $plugin-outlet == "above-main-container-outlet" {
    @media screen and (max-width: ($original + $adjustment)) {
      @content;
    }
  } @else {
    @media screen and (max-width: $original) {
      @content;
    }
  }
}



.above-main-container-outlet.welcome-link-banner-connectors,
.below-site-header-outlet.welcome-link-banner-connector {
  .welcome-link-banner-wrapper {
    
    background-color: #{$banner-background-color};
    background-image: url(#{$banner-background-image});
    background-size: #{$banner-background-size};
    background-repeat: #{$banner-background-repeat};
    background-position: center center;
    margin: auto;
    padding-bottom: 15%;//57老师朋友的建议
    width: 100%; //屏幕的宽度，你屏幕多宽，图就多宽
    height: 100px;
   
  }

  .welcome-link-banner {
    display: flex;
  }
}
