{{#unless hideStaff}}
  {{#unless (and (theme-setting 'hide_on_mobile') site.mobileView)}}
    {{#if (and showTrust showHere)}}
      <div class="welcome-link-banner-wrapper">
      </div>
    {{/if}}
  {{/unless}}
{{/unless}}
